<ion-accordion-group [multiple]="true" #accordion>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ng-container *ngIf="selectedDateTime!=null">
       
        <ion-label>{{selectedDateTime}}</ion-label>
      </ng-container>
      <ion-label *ngIf="!selectedDateTime">{{"assign.date_selectable_title" | translate}}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      
        <ion-datetime  #datetime id="datetime" value="{{dateTime$ | async}}" (ionChange)="onChangeDate($event,accordion)">
          <ion-buttons slot="buttons">
            <ion-button color="danger" (click)="datetime.reset()">{{"btn.reset" | translate}}</ion-button>
            <ion-button color="primary" (click)="closeAccordion(accordion)">{{"modal_delete.cancell" | translate}}</ion-button>
            <ion-button color="primary" (click)="updateDate(datetime, accordion)">{{"modal_delete.acept" | translate}}</ion-button>
          </ion-buttons>
        </ion-datetime>
      
    </div>
  </ion-accordion>
</ion-accordion-group>