<ion-header>
  <ion-toolbar>
    <ion-title>Listado de personas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <!-- Add person -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createPerson()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Resto de la lista -->
  <ion-accordion-group>
    <app-person-card *ngFor="let person of (getPeople() | async)" [dataPerson]="person" (onEdit)="editPerson($event)" (onDelete)="deletePerson($event)"></app-person-card>
  </ion-accordion-group>

</ion-content>
