<!--<ion-item>
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="{{dataPerson.url}}" />
  </ion-avatar>
  <ion-label>
   {{dataPerson.name}} - {{dataPerson.nickname}} - {{dataPerson.age}}
  </ion-label>
  <ion-label>
    {{dataPerson.description}}
  </ion-label>


</ion-item>-->

<ion-accordion value="{{dataPerson.id}}">
  <ion-item slot="header" color="light">
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="{{dataPerson.url}}" />
    </ion-avatar>
    <ion-label>
     <ion-text>{{dataPerson.name}}</ion-text>
    </ion-label>
    

  </ion-item>
  <div class="ion-padding" slot="content">
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="4" size="12">
          <ion-text>{{'person.nickName' | translate}} {{dataPerson.nickname}}</ion-text> <br>
          <ion-text>{{'person.desc' | translate}} {{dataPerson.age}}</ion-text>
        </ion-col>
        <ion-col sizeMd="4" size="12">
          <ion-text>{{'person.desc'}} {{dataPerson.description}}</ion-text>
        </ion-col>
        <ion-col sizeMd="4" size="12">
          <div id="btn_hidden">
            <ion-button (click)="promptEdit()">{{'crud.edit' | translate}}</ion-button>
            <ion-button (click)="promptDelete()" color="danger">{{'crud.delete' | translate}}</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-accordion>

